@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header{
    background-color: rgb(157, 194, 226);
    padding: 10px;
    text-align: center;
    /* position: fixed; */
}

footer{
    background-color: rgb(157, 194, 226);
    padding: 10px;
    text-align: center;
}

h1{
    font-family: Comfortaa;
    word-wrap: break-word;
}
h2{
    font-family: Comfortaa;
    word-wrap: break-word;
    text-align: center;
    color: white;
    margin: 10px;
}
h3{
    font-family: Comfortaa;
    word-wrap: break-word;
}
p{
    font-family: Comfortaa;
    word-wrap: break-word;
}

.block{
    width: 90%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(157, 194, 226, 0.3);
}

.horisontal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

article{
    background-color: #fff;
    margin: 1.5%;
    padding: 10px;
    min-width: 5px;
    text-align: center;
    max-width: 300px;
}
article.hor{
    background-color: #fff;
    margin: 1%;
    padding: 10px;
    min-width: 5px;
    max-width: 250px;
    text-align: center;
}


button{
    border-radius: 5pc;
    padding: 1%;
    outline: none;
    border-color: transparent;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    background-color:  rgb(21, 21, 61);
    margin: 1%;
    font-family: Comfortaa;
}
button:hover{
    background-color:  rgb(17, 17, 99);
    transition: 0.5s;
}
img{
    width: 100%;
}

.vertical-element{
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.vertical{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.firstElem{
    flex-basis: 150px;
    order: 1;
    flex-grow: 0;
}
.horisontal2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}