@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header{
    background-color: rgb(157, 194, 226);
    padding: 10px;
    text-align: center;
    /* position: fixed; */
}

footer{
    background-color: rgb(157, 194, 226);
    padding: 10px;
    text-align: center;
}

h1{
    font-family: Comfortaa;
}

.block{
    width: 90%;
    min-height: 1000px;
    padding: 20px;
    margin: auto;
    display: flex;
    background-color: rgb(157, 194, 226, 0.4);
}